kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ item.metadata.name }}
  namespace: {{ item.metadata.namespace }}
  annotations: {{ pvc_annotations | list }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ item.spec.resources.requests.storage }}
  storageClassName: {{ new_storage_class }}
  volumeMode: Filesystem

