kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ item.metadata.name }}
  namespace: {{ item.metadata.namespace }}
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: openshift-storage.rbd.csi.ceph.com
    volume.kubernetes.io/storage-provisioner: openshift-storage.rbd.csi.ceph.com
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ item.spec.resources.requests.storage }}
  storageClassName: ocs-storagecluster-ceph-rbd
  volumeMode: Filesystem

